.wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    background-color: aqua;
}

.usercard {
    width: 20%;
}

.navmenu {
    width: 10%;
}
