#wrapper {
    background-color: lightgrey;
    height: 90%;
}

button {
    border-radius: 5px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#list {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-evenly;
    gap: 0.5em;
}