<!-- <div id="wrapper">
    <div class="card">
        <h3>{{ column.title }}</h3>
        @for (ticket of tickets; track ticket.id) {
            @if (
                (column.id == '3' && tickets.length <= 2) ||
                column.id == '1' ||
                column.id == '2'
            ) {
                <div id="list">
                    <app-card [ticket]="ticket" />
                </div>
            }
        }
        <button (click)="addTicket.emit()">Add Ticket</button>
    </div> 
</div> -->

<div id="wrapper">
    <div class="card">
        <h3>{{ column().title }}</h3>
        @for (ticket of tickets(); track ticket.id) {
            <div id="list" appDroppable [columnId]="column().id" (dropItem)="reorderTicket.emit($event)">
                <app-card [ticket]="ticket" appDraggable [appDraggableData]="{id:ticket.id, columnId: column().id}"/>
            </div>
        }
        <button (click)="addTicket.emit()">Add Ticket</button>
    </div> 
</div>